/* fonts */

@import url(./fonts/stylesheet.css);

.body {
  margin: 0;
  padding: 0;
  font-family: "TT Norms", "Arial", sans-serif;
}

.header {
  background-color: #678361;
  width: 100%;
  margin: 0 auto;
}

.header__opened{
  height: 600px;
}

.header__content {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1420px) {
  .header__logo {
    margin-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .header__logo {
    margin-top: 20px;
  }
}

.button__lang {
  width: 40px;
  height: 25px;
  background-color: #fff;
  color: #678361;
  border: 0;
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  top: 25px;
  right: 0;
}

.button__lang:hover{
background-color: #def7d9;
cursor: pointer;
}

@media screen and (max-width: 1420px) {
  .button__lang {
    margin-right: 20px;
  }
}

.header__links {
  width: 550px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .header__links {
    width: 100px;
    display: none;
    flex-direction: column;
    gap: 20px;
  }
}

.header__links_opened {
  display: flex;
  align-items: end;
}

.header__link {
  margin: 0;
  padding: 0;
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  list-style-type: none;
}

.header__link-type {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.header__link-type:hover{
  color: #def7d9;
}

.header__button {
  display: none;
  margin-top: 20px;
  background-image: url(./img/header__button.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 55px;
  background-color: #678361;
  border: none;
}

@media screen and (max-width: 800px) {
  .header__button {
    display: block;
    cursor: pointer;
  }
}

.header__button_closed {
  display: none;
}

.header__button_close {
  display: none;
  padding: 0;
  margin-top: 25px;
  background-image: url(./img/closed__menu.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  background-color: #678361;
  border: none;
}

@media screen and (max-width: 800px) {
  .header__button_close {
    display: block;
  }
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1420px) {
  .header__container {
    margin-right: 20px;
  }
}

.akadev {
  background-color: #678361;
}

.akadev__block {
  height: 742px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .akadev__block {
    height: 422px;
  }
}

.akadev__title {
  margin: 0;
  padding: 0;
  font-family: "TT Norms";
  font-size: 50px;
  line-height: 94px;
  text-align: center;
  color: #fff;
}

.akadev_closed{
display: none;
}

@media screen and (max-width: 800px) {
  .akadev__title {
    font-size: 32px;
    line-height: 46px;
  }
}

.text {
}

.text__block {
  height: 276px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text__subtitle {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .text__subtitle {
    font-size: 22px;
    line-height: 30px;
  }
}

.service {
  background-color: #eff2f5;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.service__title {
  margin: 0;
  padding: 0;
  font-family: "TT Norms";
  font-weight: bold;
  font-size: 60px;
  line-height: 36px;
  color: #9d9d9d;
}

@media screen and (max-width: 800px) {
  .service__title {
    font-size: 48px;
    line-height: 36px;
    margin-left: 15px;
  }
}

.service__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.service__grid {
  margin: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.service__block {
  padding: 22px;
  width: 100%;
  max-width: 406px;
  min-height: 220px;
  background-color: #fff;
  position: relative;
}

.service__block-subtitle {
  margin: 0;
  margin-top: 62px;
  padding: 0;
  font-family: "TT Norms";
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: #2f2f2f;
}

.service__block-text {
  margin: 0;
  margin-top: 37px;
  padding: 0;
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #2f2f2f;
}

.service__block__img {
  margin: 0;
  padding: 0;
  height: 77px;
  position: absolute;
  top: 22px;
  right: 22px;
}

.cases {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .cases {
    padding-top: 50px;
  }
}
.cases__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.cases__title {
  margin: 0;
  padding: 0;
  font-family: "TT Norms";
  font-weight: bold;
  font-size: 60px;
  line-height: 36px;
  color: #9d9d9d;
}

@media screen and (max-width: 800px) {
  .cases__title {
    font-size: 48px;
    line-height: 36px;
    margin-left: 15px;
  }
}

.cases__block-img {
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
  height: 475px;
}

.cases__block {
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
  height: 400px;
}

@media screen and (max-width: 550px) {
  .cases__block {
    height: 350px;
    margin: 40px 15px 0;
  }
}

@media screen and (max-width: 1400px) {
  .cases__block:last-child {
    height: 200px;
    margin: 40px 15px 0;
  }
}

.cases__img {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 770px;
  bottom: -10px;
  left: -100px;
}

@media screen and (max-width: 1400px) {
  .cases__block:last-child {
    height: 230px;
  }
}

@media screen and (max-width: 580px) {
  .cases__img {
    max-width: 570px;
  }
}

@media screen and (max-width: 1400px) {
  .cases__img {
    left: -50px;
  }
}

@media screen and (max-width: 550px) {
  .cases__img {
    /* max-width: 400px; */
    left: -20px;
  }
}

.cases__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 1400px) {
  .cases__container {
    flex-direction: column-reverse;
    gap: 150px;
  }
}

@media screen and (max-width: 500px) {
  .cases__container {
    gap: 100px;
  }
}

.cases__subtitle {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
  .cases__subtitle {
    margin: 0 15px 24px;
  }
}

.cases__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #2f2f2f;
}

@media screen and (max-width: 800px) {
  .cases__text {
    margin: 0 15px;
  }
}

.cases__link-button {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: block;
  width: 100px;
  padding: 15px 20px;
  background: #668c5d;
  color: #fff !important;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
}

.cases__link-button:hover{
  background-color: #74a767;
}

@media screen and (max-width: 800px) {
  .cases__link-button {
    margin: 40px 15px 0;
  }
}

.cases__block-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  gap: 20px;
}

@media screen and (max-width: 580px) {
  .cases__block-links {
    flex-direction: column;
  }
}

.cases__block-link {
  margin: 0;
  display: block;
  /* width: 100px; */
  padding: 10px 20px;
  color: #8b8b8c ;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  border: 2px solid #b8b8b8;
}

.cases__block-link:hover{
  color: #74a767;
  border-color: #74a767;
}

@media screen and (max-width: 800px) {
  .cases__block-link {
    margin: 0 15px;
  }
}

.development {
  background-color: #eff2f5;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.development__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #9d9d9d;
}

@media screen and (max-width: 800px) {
  .development__title {
    font-size: 48px;
    line-height: 36px;
    margin-left: 15px;
  }
}

.development__text {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #2f2f2f;
}

.development__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.development__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .development__container {
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
  }
}

.development__block {
  width: 100%;
  max-width: 550px;
}

.development__cycle-img {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: -175px;
  z-index: 0;
}

.choose {
  background-color: #8faf88;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.choose__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 36px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .choose__title {
    text-align: center;
    font-size: 48px;
    line-height: 50px;
  }
}

.choose__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .choose__text {
    margin: 0 15px;
  }
}

.choose__container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 740px;
}

@media screen and (max-width: 800px) {
  .choose__container {
    flex-direction: column;
    row-gap: 40px;
  }
}

.choose__container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 112px;
}

.choose__container-text-1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 36px;
  color: #fff;
  text-align: center;
}

.choose__container-text-2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  text-align: center;
}

.technology {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.technology__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.technology__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 36px;
  color: #9d9d9d;
}

@media screen and (max-width: 800px) {
  .technology__title {
    font-size: 48px;
    line-height: 36px;
    margin-left: 15px;
  }
}

.technology__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #2f2f2f;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .technology__text {
    margin: 0 15px;
  }
}

.technology__container-block-text {
  position: absolute;
  margin: 0;
  background-color: #c0c1c1;
  display: block;
  padding: 10px 20px;
  color: #fff !important;
  font-size: 24px;
  text-align: center;
  top: 20px;
  left: -20px;
}

@media screen and (max-width: 626px) {
  .technology__container-block-text {
    left: 0;
  }
}

.technology__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: normal;
  column-gap: 150px;
}

@media screen and (max-width: 630px) {
  .technology__container {
    grid-template-columns: 1fr;
  }
}

.technology__grid {
  position: relative;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  max-width: 620px;
  row-gap: 50px;
}

@media screen and (max-width: 800px) {
  .technology__grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 0 50px;
  }
}

.technology__grid-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology__container-img {
}

.contact {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(#fff 30%, #668c5d 30%);
  padding-bottom: 60px;
}

.contact__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 36px;
  color: #9d9d9d;
}

@media screen and (max-width: 800px) {
  .contact__title {
    font-size: 48px;
    line-height: 36px;
  }
}

.contact__content {
  padding: 90px 200px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) {
  .contact__content {
    padding: 90px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .contact__content {
    max-width: calc(90% - 30px);
    padding: 90px 15px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__form-block {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 800px) {
  .contact__form-block {
    flex-direction: column;
  }
}

.contact__input {
  margin: 0;
  padding: 10px 0 10px;
  width: 100%;
  border: 0 0 1px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom-color: #000;
  /* border-bottom: 1px; */
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #9d9d9d;
}

.contact__input:focus{
  outline: none;
}

.contact__button {
  margin: 0;
  padding: 0;
  display: block;
  width: 100px;
  padding: 10px 20px;
  background: #668c5d;
  color: #fff !important;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

.contact__button:hover{
  background-color: #74a767;
}

.contact__form_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

@media screen and (max-width: 800px) {
  .contact__form_button {
    flex-direction: column;
    row-gap: 20px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: baseline;
}

.contact__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #7e7f7f;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 800px) {
  .contact__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.contact__link {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #668c5d;
  text-decoration: none;
}

.contact__link:hover{
  color: #74a767;
}

@media screen and (max-width: 800px) {
  .contact__link {
    font-size: 14px;
    line-height: 18px;
  }
}

.custom-checkbox {
  margin: 0;
  padding: 3px;
  accent-color: #668c5d;
  border: none;
}

.footer {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #668c5d;
  width: 100%;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.footer__block {
  margin-top: 50px;
  border-top: #fff solid 1px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .footer__block {
    max-width: 260px;
  }
}

.footer__block-pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

@media screen and (max-width: 800px) {
  .footer__block-pic {
    max-width: 260px;
    order: -1;
  }
}

.footer__block-social {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.footer__block-text_bold {
  margin: 25px 0 15px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.footer__block-text_normal {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
